/* Typography */
body {
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    font-size: 14px;
    color: #272b2e;
}

h1, h2 {
    font-family: 'Courgette', cursive;
    font-size: 30px;
    color: #020c27;
}



/* Layout */

/* Media */